<h1>VYACHESLAV PRODAM GARAGE</h1>
<canvas id="gameCanvas" width="800" height="400" style="border: 1px solid black;"></canvas>
<br>
<button id="restartButton" style="display: none;">Перезапустить игру</button>
<a href="/Game/HighScores" class="btn btn-primary mt-3">Посмотреть лучшие результаты</a>
<script src="~/js/game.js"></script>
